@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    height: 100vh; /* Altura da tela */
    width: 100vw;   /* Largura da tela */
    background-color: black; /* Cor de fundo */
}
body{
    background-image: url('imagens/fundo-madeira.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
main{
    height: 100vh; /* Altura da tela */
    position: relative;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    width: 310px;
    height: 627px;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    
}
iframe{
    position: relative;
    top: 81px;
    left: 23px; 
    width: 265px;
    height: 468px;
    
}
section#redes-sociais{
    text-align: right;
    
    
}
section#redes-sociais img{
    width: 50px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 50%;
    background-size: cover;
    
}
section#redes-sociais img:hover{
    transform: translate( -6px, -3px );
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    transition: 1s;
}